:root {
    --bg: #ffffff;
    --cor-texto: #080707;
    --cor-container: #f2f3f3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100vw;
}

body {
    height: 100vh;
    width: 100vw;
    color: var(--bg);
    overflow-y: hidden;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

#spinner {
    border: 4px solid #ffffff;
    border-top: 4px solid var(--cor-texto);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



#menu-icon {
    font-size: 2.5vw;
    cursor: pointer;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: var(--cor-container);
    padding-top: 60px;
    transition: 0.3s;
}

.sidebar img {
    width: 120px;
    margin-bottom: 5vw;
}

.sidebar button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
    border-radius: 0px;
    margin-bottom: 1vw;
    background-color: var(--cor-container);
    color: var(--cor-texto);

}

.sidebar button:hover {
    background-color: var(--cor-texto);
    color: var(--cor-container);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2vw;
    color: var(--cor-texto);
    cursor: pointer;
}

.logo {
    width: 15vw;
    margin-bottom: 2vw;
    margin-top: 2vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 1;
    background-color: var(--bg);
    width: 100vw;
    height: 100vh;
}

form {
    margin-top: 2vw;
    color: var(--bg);
    padding: 0.5vw;
    background-color: var(--cor-container);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.4vw;
    border-radius: 4px;
    width: 25vw;
    height: auto;
    box-shadow: 0rem 0.3rem 1rem black;
    ;
}

input {
    outline: none;
    height: 1.5vw;
    width: 100%;
    color: var(--cor-texto);
}

.campos {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    width: 90%;
}

label {
    font-weight: bold;
    color: var(--cor-texto);
}

button {
    margin-top: 1vw;
    color: #ffffff;
    border: none;
    background-color: black;
    height: 2vw;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    border-radius: 3px;
    margin-bottom: 1vw;
    cursor: pointer;
}

.message {
    color: red;
    font-weight: bold;
    height: 3vw;

}


.msg {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: auto;
    padding: 0vw 2vw;
    align-items: center;
    background-color: var(--cor-container);
    color: var(--cor-texto);

}

.msg img {
    width: 8vw;
}

.exit-btn {
    background-color: #eccb0e;
    color: var(--cor-texto);
    font-weight: bold;
    width: 4vw;
    padding: 0.2vw;
    font-size: 0.7vw;
    margin: 0vw;
    height: 1.5vw;
    cursor: pointer;
}

.screen-logged {
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: block;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


iframe {
    height: 100vh;
    width: 100vw;
    border: none;
}


.desapear {
    display: none;
}

#logged-message {
    text-transform: capitalize;
    display: flex;
    margin-left: 75vw;
    font-size: 1vw;
    justify-content: center;
}


/* ---------------------------------------------------- */

@media (max-width: 900px) {

    .form {
        justify-content: space-around;
        height: 100vh;
        width: 100vw;
        border: none;
        margin: 0;
    }

    .form img {
        width: 50vw;
        margin-top: 30vw;
    }

    #menu-icon {
        font-size: 8vw;
    }

    #user_photo {
        display: none;
    }


    .sidebar img {
        width: 20vw;
        margin-bottom: 5vw;
    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 10vw;
    }

    label {
        font-weight: bold;
        font-size: 8vw;
        margin: 2vw 0vw;
    }

    input {
        outline: none;
        height: 8vw;
        width: 100%;
        color: var(--cor-texto);
        font-size: 5vw;
    }

    button {
        border: none;
        height: 10vw;
        width: 40%;
        border-radius: 3px;
    }

    iframe {
        height: 105vh;
        width: 100vw;
        border: none;
    }

    .msg {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        height: 10vw;
        padding: 0vw 2vw;
    }

    .exit-btn {
        width: 20vw;
        padding: 0.6vw;
        font-size: 4vw;
        margin: 0vw;
        height: 6vw;
        cursor: pointer;
    }

    #logged-message {
        display: none;
    }

    .msg img {
        width: 30vw;
    }

    .message {
        margin-bottom: 50vw;
    }

}